footer {
    background-image: url(../Images/Footer/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 82px;
}

.footer_logo {
    margin: 24px;
    cursor: pointer;
}

.social_box img {
    margin: 20px;
    cursor: pointer;
}

.footer_texts ul {
    list-style: none;
}

.footer_texts ul h4 {
    color: #D3AD7F;
    font-family: "Bebas Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 75% */
    letter-spacing: -0.1px;
}

.footer_texts ul li {
    margin: 12px;
    color: #FFF;
    /* Text L/Medium */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
}
footer p {
    color: #FFF;
    text-align: center;
    /* Text L/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
    margin-top: 64px;
}

/*//////////////////// Media //////////////////// */

@media screen and (max-width: 992px) {
    footer .footer_box {
        justify-content: center !important;
    }

    .footer_texts ul {
        margin: 10px !important;
    }
}